/* #region Debug */

.debug .left, .debug .center, .debug .right {
    background-color: red;
    border: 1px dashed white;
}

/* #endregion Debug */


/* #region Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --zoom-primary: rgba(0,0,0,255);
    --zoom-header: rgba(74,74,74,255);
    --zoom-footer: rgba(34,34,34,255);
    --zoom-share: rgba(34,34,34,255);
    --zoom-icons: rgba(255,255,255,255);
}

/* #endregion Common */


/* #region Utility */

.d-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

img{
    max-width: 100%;
}

.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
}

.person{
    bottom: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.536);
    font-size: 0.75rem;
    color: var(--zoom-icons);
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.25rem;
}

.justify-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.gap-1{
    gap: 0.25rem;
}

.gap-2{
    gap: 0.5rem;
}

.pr-2{
    padding-right: 0.5rem;
}

/* #endregion Utility */

/* #region Header */

#site_header{
    height: 45px;
    width: 100%;
    background-color: var(--zoom-primary);
    padding-bottom: 5px;
}

.toolbar{
    position: absolute;
    right: 0px;
    margin-top: 10px;
    margin-right: 5px;

}

.toolbar botton{
    background-color: var(--zoom-header);
    padding: 3px 5px;
    text-align: center;
    border-radius: 5px;
    margin-right: 5px;
    color: white;
    display: inline-block;
    height: 90%;
}

/* #endregion Header */

/* #region Main */

#site_main{
    height: calc( 100vh - 90px);
    width: 100%;
    background-color: var(--zoom-primary);
    overflow-y: auto;
}

.container{
    max-width: 1152px;
    margin: 0 auto;
    width: 90%;
    padding: 20px;
}

.row{
    gap: 5px;
}

.card{
    width: 20%;
    min-width: 100px;
    aspect-ratio: 16/9;
    transition: 1s ease;
}

.card:hover{
    border: 2px solid white;
    transform: scale(1.1);
    z-index: 1
}

.card img{
    width: 100%;
    height: 100%;
}

.row .card{
    width: calc((100% / 7) - 5px);
}

/* #endregion Main */

/* #region Footer */

#site_footer{
    height: 60px;
    width: 100%;
    background-color: var(--zoom-footer);
}

.left, .center, .right{
    height: 100%;
    color: var(--zoom-icons);
}

.left{
    width: 15%;
}

.right{
    width: 10%;
}

.center{
    width: 40%;
}

.audio, .video{
    padding: 0.5rem;
}

.caption{
    padding-top: 0.25rem;
    font-size: 0.75rem;
}

.arrow-up{
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

.fa-microphone, .fa-user-plus{
    padding-left: 0.25rem;
}

.fa-video{
    padding-left: 1rem;
}

.fa-user-group, .fa-table-cells-large{
    padding-left: 2.5rem;
}

.polling{
    padding-left: 0.5rem;
}

.fa-chart-column, .fa-record-vinyl{
    padding-left: 0.5rem;
}

.fa-share-from-square{
    padding-left: 1.5rem;
}

.fa-comment, .fa-ellipsis{
    padding-left: 0.25rem;
}

.arrow{
    padding-left: -0.5rem;
}

.chat{
    padding-left: 0.75rem;
    padding-right: 0.5rem;
}

.share, .b-rooms, .more{
    padding-left: 0.5rem;
}

.btn-end{
    justify-content: end;
    background-color: var(--zoom-header);
}

.end-meeting-text{
    padding: 1.5rem;
    overflow: hidden;
    color: red;
    text-align: center;
    font-size: 0.75rem;
}

/* #endregion Footer */